body {
    background-color: #121212;
    color: white;
    text-align: center;
}

.movie-container {
    margin-top: 50px;
}

.movie-container img {
    width: 200px;
    border-radius: 10px;
}
#boton {
    position: fixed;
    right: 10px;
    top: 2%;
}
